
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Accueil";
}
<link href="~/Content/ContactForm/css/style - Copy.css" rel='stylesheet' type='text/css' media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Sublime Contact Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
                @*<ul>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px; ">The solution consists in a mobile and a web application</i></li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px">  The patient chooses his location and the doctor specialty.</i> </li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px">He enters his information and chooses a date from the doctor’s calendar.</i> </li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px">The doctor visualizes all his appointments in his space.</i></li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px"> In case of cancellation of an appointment, the system oﬀers an alternative appointment</i></li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px"> The application also manages and saves the patient course which helps the doctor to suggest a better treatment for their patients</i></li>
                    <li><i class="ion-android-checkmark-circle" style="font-size:18px"> Also, the patient is able to ask directly the doctor through the chat option.</i></li>
                </ul>*@

   <h1 class="agileits w3 wthree w3-agile w3-agileits agileinfo agile">About Us</h1>
<div class="content-w3ls agileits w3 wthree w3-agile w3-agileits agileinfo agile">
    <form action="#" method="post" class="form-agileits">
        <h2>A Medical Appointements Portal</h2>
        <ul>
            <li><img src="~/Content/Images/responsive (1).png"> The solution consists in a mobile and a web application</li>
            <li>The patient chooses his location and the doctor specialty.</li>
            <li>He enters his information and chooses a date from the doctor’s calendar.</li>
            <li>The doctor visualizes all his appointments in his space.</li>
            <li>In case of cancellation of an appointment, the system oﬀers an alternative appointment</li>
            <li>The application also manages and saves the patient course which helps the doctor to suggest a better treatment for their patients</li>
            <li>Also, the patient is able to ask directly the doctor through the chat option.</li>
        </ul>
             </form>
</div>

