
@{
    ViewBag.Title = "Calendar_doc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar_doc</h2>

<!DOCTYPE html>
<html>
<h2>calendar_appointment</h2>
<style>
    body {
        background-color: #eee;
    }
</style>
</head>
<body>
    <div style="height:700px;width:900px;margin:0 auto">
        @Html.Raw(Model.Render())
    </div>
</body>
</html>