



@Model

@foreach (var item in Model)
{


     





<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Availability Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Doctor Availability Form Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates" />
    <link rel="stylesheet" href="/content/formrendezvous/css/jquery-ui.css" type="text/css" media="all">
    <link href="/content/formrendezvous/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <link href="/content/formrendezvous/css/style.css" rel='stylesheet' type='text/css' />
    <!--webfonts-->
    <link href="///fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!--//webfonts-->

</head>
<body>
    <h1> @item.FirstName@item.lastName</h1>
    <div class="containerw3layouts-agileits">
        <div class="w3layoutscontactagileits">
            <img alt="" src="img/team/1.jpg">@item.ImageName
            <div id="wrapper">
                <form action="#" method="post">
                    <div id="login" class="animate w3layouts agileits form">
                        
                        <div class="ferry ferry-from">
                            <label>speciality :@item.speciality </label>
                           
                        </div>
                        <div class="ferry ferry-from">
                            <label>adress : @item.adress</label>
                            
                        </div>
                        <div class="persons">
                            <label>Years Of Experience :  3         </label>

                        </div>
                        <div class="book-pag agileits w3layouts">

                            <div class="book-pag-frm1 agileits w3layouts">
                                <label>choose a Date Of Appointment :</label>
                               
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="book-pag agileits w3layouts">


                            <div class="clear"></div>
                        </div>
                        <div class="tickets">
                            
                            <div class="persons">
                                <label>    desease    </label>
                                <input type="text" name="Number" placeholder="1" required="">
                            </div>
                            

                            <div class="clear"></div>
                        </div>
                        <div class="ferry ferry-from">
                            <label>notes  :</label>
                            <textarea id="message" name="message" placeholder="Your Queries" title="Please enter Your Queries"></textarea>
                        </div>
                        <div class="wthreesubmitaits">
                           @Html.ActionLink("make appointment", "makeappointment", new { id = item.Id })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="w3lsfooteragileits">
        <p> &copy; 2018 Doctor Availability Form. All Rights Reserved | Design by <a href="http://w3layouts.com" target="=_blank">W3layouts</a></p>
    </div>
    <!-- Necessary-JavaScript-Files-&-Links -->
    <!-- Date-Picker-JavaScript -->
    <script type="text/javascript" src="/content/formrendezvous/js/jquery-2.1.4.min.js"></script>
    <script src="/content/formrendezvous/js/jquery-ui.js"></script>
    <script src="/content/formrendezvous/js/wickedpicker.js"></script>

    <script type="text/javascript">
					$(function() {
						$( "#datepicker,#datepicker1,#datepicker2" ).datepicker();
					});
    </script>

    <script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
    </script>

    <!-- //Date-Picker-JavaScript -->
    <!-- //Necessary-JavaScript-Files-&-Links -->


</body>
</html>



}

